.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-top: 40px;
}

.profile__content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 25px;
}

.profile__image-container {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
}

.profile__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  background-color: #fff;
  border-radius: 50%;
}

.profile__image-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: none;
  outline-style: none;
  border: none;
  opacity: 0;
}

.profile__image-edit-button:hover {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  background: url(../images/pencil.svg) no-repeat center rgb(0 0 0 / .8);
}

.profile__image-edit-icon {
  position: absolute;
  transform: translate(-50%, -50%);
}

.profile__name-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile__name {
  max-width: 350px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../images/edit-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  border: none;
  outline-style: none;
}

.profile__edit-button:hover {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.6;
}

.profile__description {
  max-width: 350px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
  background-position: center;
  background-size: 22px 2px, 2px 22px;
  background-repeat: no-repeat;
  outline-style: none;
}

.profile__add-button:hover {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }

  .profile__content {
    padding-bottom: 36px;
  }

  .profile__add-button {
    width: 282px;
    background-size: 16px 2px, 2px 16px;
  }
}

@media screen and (max-width: 649px) {
  .profile__content {
    grid-template-columns: auto;
    justify-items: center;
  }

  .profile__name {
    max-width: 220px;
    font-size: 27px;
    line-height: 33px;
    padding-top: 25px;
  }

  .profile__edit-button {
    position: absolute;
    right: -30px;
    top: 32px;
    width: 18px;
    height: 18px;
  }

  .profile__description {
    max-width: 220px;
    font-size: 14px;
    line-height: 17px;
    padding-top: 14px;
  }
}
